<div class="layout-container">
  <!--<aside class="sidebar">
    <button mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</button>
    <button mat-button routerLink="/create-event" routerLinkActive="active-link">Create Event</button>
    <button mat-button routerLink="/manage-event" routerLinkActive="active-link">Manage Event</button>
    <button mat-button routerLink="/users" routerLinkActive="active-link">Users</button>
    <button mat-button routerLink="/analytics" routerLinkActive="active-link">Analytics</button>
  </aside>-->

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
